{% extends 'general_components/base_template.twig' %}

{% block title %}Access point login {% endblock %}

{% block body %}
    <div class="row">
        <div class="center-block" style="width: 300px;">
            <h6>{{ link }}</h6>
            <img style="-webkit-user-select: none;margin: auto;" src="https://chart.googleapis.com/chart?chs=300x300&amp;cht=qr&amp;chl={{ link }}">
        </div>
    </div>
{% endblock %}